* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Alegreya", serif;
}
/* Home section */

#home {
  background-image: url("../images/drew-coffman-1872.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.navbar {
  margin: 0 100px;
  padding: 10px;
}
.navbar img {
  width: 200px;
  float: left;
}
.navbar ul {
  float: right;
  list-style: none;
}
.navbar ul li {
  display: inline-block;
  padding: 20px;
}
.navbar ul a {
  color: #fff;
  text-decoration: none;
}
#home .clr {
  clear: both;
}
#home .home-info {
  text-align: center;
  padding-top: 80px;
  color: #fff;
}
#home .home-info p {
  font-size: 24px;
  margin: 10px 0 20px;
}
#home .home-info h1 {
  font-size: 76px;
  margin: 0 0 18px;
}
#home .home-info .btn {
  padding: 15px 28px;
  margin: 0 0 12px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
#home .home-info .btn1 {
  background-color: #8e7754;
}
#home .home-info .btn2 {
  border: 2px solid #fff;
  background-color: transparent;
}
.animation {
  margin: auto;
  height: 50px;
  width: 32px;
  border-radius: 30px;
  border: 1px solid #fff;
  margin-top: 80px;
}
/* who section */
#about {
  padding: 90px 100px 60px;
}
#about .about-img {
  width: 50%;
  float: left;
}
#about .about-img img {
  width: 90%;
}
#about .about-info {
  width: 50%;
  float: left;
}
#about .about-info h2 {
  padding: 0 0 25px;
  font-size: 32px;
}
#about .about-info p {
  color: #686868;
  font-size: 17px;
  margin-bottom: 20px;
}
#about .clr {
  clear: both;
}
#about .list {
  color: #686868;
  margin-bottom: 10px;
}
/* location section  */
#location {
  padding: 90px 100px;
  margin: 0 15px;
  background-color: #f8f8f8;
}
#location h2 {
  margin-bottom: 25px;
  font-size: 32px;
}
#location p {
  margin-bottom: 20px;
  font-size: 17px;
}
#location .location-info {
  width: 50%;
  float: left;
}
#location .location-img {
  width: 50%;
  float: left;
}
#location .location-img img {
  width: 100%;
}
#location .clr {
  clear: both;
}
/* products section */
#products {
  padding: 70px 100px 50px;
  margin: 0 15px;
  text-align: center;
}

#products h3 {
  font-size: 30px;
  padding-bottom: 15px;
}
#products h4 {
  padding: 10px 0;
}
#products .product-info {
  margin: 10px 0 60px;
}
#products .product {
  margin: 0 5px;
  width: 32%;
  float: left;
}
#products .product-img {
  width: 80%;
}
#products .product-img img {
  width: 100%;
}
#products .clr {
  clear: both;
}

/* contact section */

#contact {
  padding: 85px 100px;
  margin: 50px 0;
  background-color: #f8f8f8;
}
#contact .contact-info {
  width: 50%;
  float: left;
}
#contact h2 {
  margin-bottom: 25px;
  font-size: 32px;
}
#contact p {
  padding: 10px 0;
}
#contact .list {
  padding: 15px 0 15px 0;
}
#contact .map-img {
  width: 50%;
  float: left;
}
#contact .map-img img {
  width: 100%;
}
#contact .clr {
  clear: both;
}
/* dates section */
#dates {
  padding: 60px 0 52px;
  background-color: #403d38;
  color: #969696;
}
#dates h4 {
  font-size: 18px;
  margin-bottom: 25px;
  color: #fff;
}
#dates p {
  margin-bottom: 20px;
}
#dates li {
  padding: 0 0 12px;
  margin: 0 0 12px;
  list-style: none;
}
#dates .dates-info {
  width: 20%;
  float: left;
  margin-left: 52px;
}
#dates .clr {
  clear: both;
}
#dates hr {
  width: 90%;
  margin-bottom: 10px;
  color: #969696;
}
/* footer section */
#footer {
  padding: 50px 0 40px;
  background-color: #353330;
  color: #777;
  text-align: center;
}
#footer .footer-info img {
  margin: 10px 0 25px;
}
#footer p {
  margin: 5px 0 0;
}

#footer .clr {
  clear: both;
}
